@import './flags.scss';
@import './variable.scss';

.phone-picker {
  display: flex;
  background: $phone-picker-bg;
  border-radius: $phone-picker-border-radius;

  .country-code {
    .ui-dropdown {
      min-width: unset !important;
      background: $dropdown-bg;
      border: none;
      border-radius: $phone-picker-border-radius 0 0 $phone-picker-border-radius;

      .ui-inputtext {
        background: transparent;
      }

      .ui-dropdown-trigger {
        background: transparent;

        .pi {
          font-size: $dropdown-trigger-font-size;
        }

        .pi-chevron-down {
          &:before {
            content: '\e906';
          }
        }
      }
    }
  }

  .phone-number {
    flex: 1;

    input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      background: transparent;
      color: $input-color;
      font-size: $input-font-size;
      padding: 0 $input-padding-x;
    }
  }

  .calling {
    .ui-button {
      width: 100%;
      height: 100%;
      background-color: $calling-bg;
      color: $calling-color;
      border: none;
      border-radius: $phone-picker-border-radius;
      outline: none;
      font-size: $calling-font-size;
      padding: 0 $calling-padding-r 0 0;

      &:enabled:hover {
        background-color: $calling-bg-ehover;
        color: $calling-color-ehover;
      }

      &:enabled:focus {
        box-shadow: none;
      }

      .fa {
        font-size: $calling-icon-font-size;
      }

      .ui-button-icon-left {
        left: $calling-icon-left-space;
      }

      .ui-button-text {
        padding: 0 0 0 $calling-icon-right-space;
        line-height: 1;
      }
    }
  }
}
